*{

	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.header{

  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
  height: 80px
  width: 100%;
  display: block;
  margin: 0 auto;

}

.inner_header{
	width: 1000px;
	height: 100%;
	display: block;
	margin: 0 auto;
	background-color: #FA8072

}

.logo_container{
	height: 100%;
	display: table;
	float: left;

}
